* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    display: block;
}

.heroPage {
    background-image: url("image/bugatti.jpg");
    background-position: 25%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 41rem;
    position: relative;
    width: 100%;
}

.heroPage-overlay {
    background-color: hsla(0, 0%, 100%, .92);
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}

.heroPage-txt {
    color: #010103;
    display: flex;
    flex-direction: column;
    height: 21rem;
    justify-content: center;
    position: relative;
    width: 100%;
    z-index: 3;
}

.heroPage-txt h3 {
    font-size: 3.6rem;
    margin-bottom: 0.5rem;
}

.heroPage-txt p {
    font-size: 1.6rem;
    font-weight: 500;
}

.heroPage-txt p a {
    color: black;
    text-decoration: none;
    transition: all 0.2s;
}

.heroPage-txt p a:hover {
    color: #1b48ff;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {

    font-size: 12px;
}

body,
button,
input {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 1.4px;
}

.background {
    display: flex;
    min-height: 65vh;
}

.container {
    flex: 0 1 800px;
    margin: auto;
    padding: 10px;
}

.screen {
    position: relative;
    background: #3e3e3e;
    border-radius: 15px;
}

.screen:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
    bottom: 0;
    border-radius: 15px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
    z-index: -1;
}

.screen-header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background: #4d4d4f;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.screen-header-left {
    margin-right: auto;
}

.screen-header-button {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 3px;
    border-radius: 8px;
    background: white;
}

.screen-header-button.close {
    background: #2e1dea;
}

.screen-header-button.maximize {
    background: #e8e925;
}

.screen-header-button.minimize {
    background: #74c54f;
}

.screen-header-right {
    display: flex;
}

.screen-header-ellipsis {
    width: 3px;
    height: 3px;
    margin-left: 2px;
    border-radius: 8px;
    background: #999;
}

.screen-body {
    display: flex;
}

.screen-body-item {
    flex: 1;
    padding: 60px;
}

.screen-body-item.left {
    display: flex;
    flex-direction: column;
}

.app-title {
    display: flex;
    flex-direction: column;
    position: relative;
    color: #2e1dea;
    font-size: 26px;
}

.app-title:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 25px;
    height: 4px;
    background: #2e1dea;
}

.app-contact {
    margin-top: auto;
    font-size: 8px;
    color: #888;
}

.app-form-group {
    margin-bottom: 15px;
}

.app-form-group.message {
    margin-top: 40px;
}

.app-form-group.buttons {
    margin-bottom: 0;
    text-align: right;
}

.app-form-control {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1px solid #666;
    color: #ddd;
    font-size: 14px;
    text-transform: uppercase;
    outline: none;
    transition: border-color .2s;
}

.app-form-control::placeholder {
    color: #666;
}

.app-form-control:focus {
    border-bottom-color: #ddd;
}

.app-form-button {
    background: none;
    border: none;
    color: #2e1dea;
    font-size: 14px;
    cursor: pointer;
    outline: none;
}

.app-form-button:hover {
    color: #2e1dea;
}

.book-banner {
    background-image: url("image/bugatti.jpg");
    display: flex;
    height: 20rem;
    margin-top: 7rem;
    position: relative;
    width: 100%;
}

.book-bannerOverlay {
    background-color: #2d2d2d;
    height: 100%;
    opacity: .89;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}

.txtContent {
    align-items: center;
    color: #fff;
    display: flex;
    gap: 5rem;
    height: 20rem;
    position: relative;
    width: 100%;
    z-index: 5;
}

.txtContent h2 {
    font-weight: bolder;
    font-size: 2.7em;
    text-align: justify;
}

.txtContent span {
    align-items: center;
    color: #f8f8f8;
    display: flex;
    font-size: 2.7rem;
    gap: 1rem;
    white-space: nowrap;
}

.txtContent span h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.fa-phone {
    color: rgb(42, 119, 214);
}

@media screen and (max-width: 520px) {
    .screen-body {
        flex-direction: column;
    }

    .screen-body-item.left {
        margin-bottom: 30px;
    }

    .app-title {
        flex-direction: row;
    }

    .app-title span {
        margin-right: 12px;
    }

    .app-title:after {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .screen-body {
        padding: 40px;
    }

    .screen-body-item {
        padding: 0;
    }
}